#floatingText,
#floatingTextLevel,
#floatingTextHelp {
    position: absolute;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#floatingText {
    top: 2;
    left: 2;
}

#floatingTextLevel {
    bottom: 2;
    left: 2;
}

#floatingTextHelp {
    top: 2;
    right: 2;
    text-align: right;
}

.hide {
    display: none;
}